<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Adieresis</key>
		<dict>
			<key>question</key>
			<integer>0</integer>
		</dict>
		<key>Aogonek</key>
		<dict>
			<key>parenright</key>
			<integer>24</integer>
		</dict>
		<key>Oslash</key>
		<dict>
			<key>parenright</key>
			<integer>-2</integer>
			<key>question</key>
			<integer>-3</integer>
		</dict>
		<key>public.kern1.A</key>
		<dict>
			<key>Oslash</key>
			<integer>3</integer>
			<key>parenright</key>
			<integer>10</integer>
			<key>public.kern2.A</key>
			<integer>11</integer>
			<key>public.kern2.O</key>
			<integer>-27</integer>
			<key>question</key>
			<integer>-50</integer>
			<key>space</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.O</key>
		<dict>
			<key>parenright</key>
			<integer>-12</integer>
			<key>public.kern2.A</key>
			<integer>-27</integer>
			<key>question</key>
			<integer>-14</integer>
		</dict>
		<key>public.kern1.parent</key>
		<dict>
			<key>Oslash</key>
			<integer>-2</integer>
			<key>public.kern2.A</key>
			<integer>10</integer>
			<key>public.kern2.O</key>
			<integer>-12</integer>
		</dict>
		<key>question</key>
		<dict>
			<key>parenright</key>
			<integer>-16</integer>
			<key>question</key>
			<integer>-30</integer>
		</dict>
		<key>space</key>
		<dict>
			<key>public.kern2.A</key>
			<integer>-20</integer>
		</dict>
	</dict>
</plist>
