<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>arDdal</key>
		<dict>
			<key>public.kern2.ARA_ALEFHAMZAHIGH</key>
			<integer>3</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>5</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>5</integer>
			<key>public.kern2.ARA_YEHHAMZAABOVE</key>
			<integer>-47</integer>
		</dict>
		<key>arLamAlefHamza</key>
		<dict>
			<key>public.kern2.ARA_ALEF</key>
			<integer>53</integer>
			<key>public.kern2.ARA_FEH</key>
			<integer>9</integer>
			<key>public.kern2.ARA_KAF</key>
			<integer>53</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>133</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>133</integer>
			<key>public.kern2.ARA_LAM</key>
			<integer>53</integer>
			<key>public.kern2.ARA_NOON_I</key>
			<integer>27</integer>
		</dict>
		<key>arLamAlefHamza.f</key>
		<dict>
			<key>public.kern2.ARA_NOON_I</key>
			<integer>27</integer>
		</dict>
		<key>arLamAlefHamzaBelow.f</key>
		<dict>
			<key>public.kern2.ARA_YEH_I</key>
			<integer>10</integer>
		</dict>
		<key>arLamAlefMadda</key>
		<dict>
			<key>arGafYehBarree</key>
			<integer>133</integer>
			<key>arGafYehBarree.s</key>
			<integer>133</integer>
			<key>arKafYehBarree</key>
			<integer>133</integer>
			<key>arKafYehBarree.s</key>
			<integer>133</integer>
			<key>arKafYehBarreeHamza</key>
			<integer>133</integer>
			<key>arKafYehBarreeHamza.s</key>
			<integer>133</integer>
			<key>arNgYehBarree</key>
			<integer>133</integer>
			<key>arNgYehBarree.s</key>
			<integer>133</integer>
			<key>arNgYehBarreeHamza</key>
			<integer>133</integer>
			<key>arNgYehBarreeHamza.s</key>
			<integer>133</integer>
			<key>arTteh.i</key>
			<integer>62</integer>
			<key>arTtehYehBarree</key>
			<integer>62</integer>
			<key>arTtehYehBarree.s</key>
			<integer>62</integer>
			<key>arTtehYehBarreeHamza</key>
			<integer>62</integer>
			<key>arTtehYehBarreeHamza.s</key>
			<integer>62</integer>
			<key>public.kern2.ARA_ALEF</key>
			<integer>73</integer>
			<key>public.kern2.ARA_FEH</key>
			<integer>9</integer>
			<key>public.kern2.ARA_KAF</key>
			<integer>73</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>133</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>133</integer>
			<key>public.kern2.ARA_LAM</key>
			<integer>73</integer>
			<key>public.kern2.ARA_NOON_I</key>
			<integer>35</integer>
			<key>public.kern2.ARA_TEH_I</key>
			<integer>89</integer>
		</dict>
		<key>arLamAlefMadda.f</key>
		<dict>
			<key>arGafYehBarree</key>
			<integer>107</integer>
			<key>arGafYehBarree.s</key>
			<integer>107</integer>
			<key>arKafYehBarree</key>
			<integer>107</integer>
			<key>arKafYehBarree.s</key>
			<integer>107</integer>
			<key>arKafYehBarreeHamza</key>
			<integer>107</integer>
			<key>arKafYehBarreeHamza.s</key>
			<integer>107</integer>
			<key>arNgYehBarree</key>
			<integer>107</integer>
			<key>arNgYehBarree.s</key>
			<integer>107</integer>
			<key>arNgYehBarreeHamza</key>
			<integer>107</integer>
			<key>arNgYehBarreeHamza.s</key>
			<integer>107</integer>
			<key>arTteh.i</key>
			<integer>62</integer>
			<key>arTtehYehBarree</key>
			<integer>33</integer>
			<key>arTtehYehBarree.s</key>
			<integer>33</integer>
			<key>arTtehYehBarreeHamza</key>
			<integer>33</integer>
			<key>arTtehYehBarreeHamza.s</key>
			<integer>33</integer>
			<key>public.kern2.ARA_ALEF</key>
			<integer>47</integer>
			<key>public.kern2.ARA_KAF</key>
			<integer>47</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>120</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>120</integer>
			<key>public.kern2.ARA_LAM</key>
			<integer>47</integer>
			<key>public.kern2.ARA_NOON_I</key>
			<integer>47</integer>
			<key>public.kern2.ARA_TEH_I</key>
			<integer>72</integer>
		</dict>
		<key>arLamAlefWasla</key>
		<dict>
			<key>arTteh.i</key>
			<integer>67</integer>
			<key>arTtehYehBarree</key>
			<integer>67</integer>
			<key>arTtehYehBarree.s</key>
			<integer>67</integer>
			<key>arTtehYehBarreeHamza</key>
			<integer>67</integer>
			<key>arTtehYehBarreeHamza.s</key>
			<integer>67</integer>
			<key>public.kern2.ARA_ALEF</key>
			<integer>73</integer>
			<key>public.kern2.ARA_FEH</key>
			<integer>9</integer>
			<key>public.kern2.ARA_KAF</key>
			<integer>73</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>139</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>139</integer>
			<key>public.kern2.ARA_LAM</key>
			<integer>73</integer>
			<key>public.kern2.ARA_NOON_I</key>
			<integer>35</integer>
			<key>public.kern2.ARA_TEH_I</key>
			<integer>64</integer>
		</dict>
		<key>arLamAlefWasla.f</key>
		<dict>
			<key>arTteh.i</key>
			<integer>55</integer>
			<key>arTtehYehBarree</key>
			<integer>55</integer>
			<key>arTtehYehBarree.s</key>
			<integer>55</integer>
			<key>arTtehYehBarreeHamza</key>
			<integer>55</integer>
			<key>arTtehYehBarreeHamza.s</key>
			<integer>55</integer>
			<key>public.kern2.ARA_ALEF</key>
			<integer>47</integer>
			<key>public.kern2.ARA_KAF</key>
			<integer>47</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>120</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>120</integer>
			<key>public.kern2.ARA_LAM</key>
			<integer>47</integer>
			<key>public.kern2.ARA_NOON_I</key>
			<integer>47</integer>
			<key>public.kern2.ARA_TEH_I</key>
			<integer>64</integer>
		</dict>
		<key>arThal</key>
		<dict>
			<key>public.kern2.ARA_ALEFHAMZAHIGH</key>
			<integer>-23</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>-27</integer>
			<key>public.kern2.ARA_YEHHAMZAABOVE</key>
			<integer>-67</integer>
		</dict>
		<key>arYehBarree</key>
		<dict>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>-47</integer>
		</dict>
		<key>public.kern1.ARA_AIN</key>
		<dict>
			<key>public.kern2.ARA_YEHYEH_LIGS</key>
			<integer>85</integer>
		</dict>
		<key>public.kern1.ARA_ALEFHAMZA</key>
		<dict>
			<key>arGafYehBarree</key>
			<integer>53</integer>
			<key>arGafYehBarree.s</key>
			<integer>53</integer>
			<key>arKafYehBarree</key>
			<integer>53</integer>
			<key>arKafYehBarree.s</key>
			<integer>53</integer>
			<key>arKafYehBarreeHamza</key>
			<integer>53</integer>
			<key>arKafYehBarreeHamza.s</key>
			<integer>53</integer>
			<key>arNgYehBarree</key>
			<integer>53</integer>
			<key>arNgYehBarree.s</key>
			<integer>53</integer>
			<key>arNgYehBarreeHamza</key>
			<integer>53</integer>
			<key>arNgYehBarreeHamza.s</key>
			<integer>53</integer>
			<key>public.kern2.ARA_KAFYEH_LIGS</key>
			<integer>53</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>53</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>53</integer>
		</dict>
		<key>public.kern1.ARA_ALEFHAMZABELOW</key>
		<dict>
			<key>public.kern2.ARA_BEHYEH_LIGS</key>
			<integer>78</integer>
			<key>public.kern2.ARA_LAMYEH_LIGS</key>
			<integer>23</integer>
			<key>public.kern2.ARA_YEHYEH_LIGS</key>
			<integer>147</integer>
		</dict>
		<key>public.kern1.ARA_ALEFMADDA</key>
		<dict>
			<key>arGafYehBarree</key>
			<integer>67</integer>
			<key>arKafYehBarree</key>
			<integer>67</integer>
			<key>arKafYehBarreeHamza</key>
			<integer>67</integer>
			<key>arNgYehBarree</key>
			<integer>67</integer>
			<key>arNgYehBarreeHamza</key>
			<integer>67</integer>
			<key>public.kern2.ARA_KAFYEH_LIGS</key>
			<integer>67</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>67</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>67</integer>
		</dict>
		<key>public.kern1.ARA_ALEF_F</key>
		<dict>
			<key>public.kern2.ARA_FEHYEH_LIGS</key>
			<integer>-14</integer>
			<key>public.kern2.ARA_YEHBARREE</key>
			<integer>-33</integer>
		</dict>
		<key>public.kern1.ARA_DAL</key>
		<dict>
			<key>public.kern2.ARA_AIN</key>
			<integer>-23</integer>
			<key>public.kern2.ARA_ALEFHAMZAHIGH</key>
			<integer>-69</integer>
			<key>public.kern2.ARA_BEH_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_FEHYEH_LIGS</key>
			<integer>-7</integer>
			<key>public.kern2.ARA_HAH</key>
			<integer>-26</integer>
			<key>public.kern2.ARA_HAH_I</key>
			<integer>-26</integer>
			<key>public.kern2.ARA_HEH</key>
			<integer>-16</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>-47</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>-34</integer>
			<key>public.kern2.ARA_LAMYEH_LIGS</key>
			<integer>-7</integer>
			<key>public.kern2.ARA_MEEM</key>
			<integer>-29</integer>
			<key>public.kern2.ARA_YEH</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_YEHHAMZAABOVE</key>
			<integer>-95</integer>
		</dict>
		<key>public.kern1.ARA_HAH</key>
		<dict>
			<key>public.kern2.ARA_YEHYEH_LIGS</key>
			<integer>85</integer>
		</dict>
		<key>public.kern1.ARA_JEH</key>
		<dict>
			<key>public.kern2.ARA_AIN</key>
			<integer>82</integer>
			<key>public.kern2.ARA_AIN_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_ALEFHAMZABELOW</key>
			<integer>93</integer>
			<key>public.kern2.ARA_ALEFHAMZAHIGH</key>
			<integer>71</integer>
			<key>public.kern2.ARA_BEH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_BEHYEH_LIGS</key>
			<integer>178</integer>
			<key>public.kern2.ARA_BEH_I</key>
			<integer>73</integer>
			<key>public.kern2.ARA_DAL</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_FEH</key>
			<integer>-16</integer>
			<key>public.kern2.ARA_FEHYEH_LIGS</key>
			<integer>80</integer>
			<key>public.kern2.ARA_HAH</key>
			<integer>47</integer>
			<key>public.kern2.ARA_HAMZA</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_HEH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_HEHGOAL_I</key>
			<integer>33</integer>
			<key>public.kern2.ARA_HEH_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_KAFYEH_LIGS</key>
			<integer>47</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>47</integer>
			<key>public.kern2.ARA_KAF_SWASH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>47</integer>
			<key>public.kern2.ARA_LAMALEF</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_LAMYEH_LIGS</key>
			<integer>47</integer>
			<key>public.kern2.ARA_MEEM</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_MEEM_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_REH</key>
			<integer>20</integer>
			<key>public.kern2.ARA_SAD</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_SEEN</key>
			<integer>-16</integer>
			<key>public.kern2.ARA_TEH_I</key>
			<integer>35</integer>
			<key>public.kern2.ARA_WAW</key>
			<integer>33</integer>
			<key>public.kern2.ARA_YEHBARREE</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_YEHBARREE_S_LIGS</key>
			<integer>215</integer>
			<key>public.kern2.ARA_YEHHAMZAABOVE</key>
			<integer>27</integer>
			<key>public.kern2.ARA_YEHYEH_LIGS</key>
			<integer>227</integer>
			<key>public.kern2.ARA_YEH_I</key>
			<integer>120</integer>
		</dict>
		<key>public.kern1.ARA_LAMALEF</key>
		<dict>
			<key>arHamza</key>
			<integer>-55</integer>
			<key>arTehYehBarree</key>
			<integer>35</integer>
			<key>arTehYehBarree.s</key>
			<integer>35</integer>
			<key>arTehYehBarreeHamza</key>
			<integer>35</integer>
			<key>arTehYehBarreeHamza.s</key>
			<integer>35</integer>
			<key>arThehYehBarree</key>
			<integer>35</integer>
			<key>arThehYehBarree.s</key>
			<integer>35</integer>
			<key>arThehYehBarreeHamza</key>
			<integer>35</integer>
			<key>arThehYehBarreeHamza.s</key>
			<integer>35</integer>
			<key>arTteh.i</key>
			<integer>26</integer>
			<key>arTtehYehBarree</key>
			<integer>26</integer>
			<key>arTtehYehBarree.s</key>
			<integer>26</integer>
			<key>arTtehYehBarreeHamza</key>
			<integer>26</integer>
			<key>arTtehYehBarreeHamza.s</key>
			<integer>26</integer>
			<key>public.kern2.ARA_AIN</key>
			<integer>-78</integer>
			<key>public.kern2.ARA_AIN_I</key>
			<integer>-40</integer>
			<key>public.kern2.ARA_BEH</key>
			<integer>-46</integer>
			<key>public.kern2.ARA_BEH_I</key>
			<integer>-46</integer>
			<key>public.kern2.ARA_DAL</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_FEH</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_FEHYEH_LIGS</key>
			<integer>-40</integer>
			<key>public.kern2.ARA_HAH</key>
			<integer>-83</integer>
			<key>public.kern2.ARA_HAH_I</key>
			<integer>-85</integer>
			<key>public.kern2.ARA_HEH</key>
			<integer>-59</integer>
			<key>public.kern2.ARA_HEHGOAL_I</key>
			<integer>-40</integer>
			<key>public.kern2.ARA_HEH_I</key>
			<integer>-49</integer>
			<key>public.kern2.ARA_KAF_SWASH</key>
			<integer>-53</integer>
			<key>public.kern2.ARA_LAMALEF</key>
			<integer>-40</integer>
			<key>public.kern2.ARA_MEEM</key>
			<integer>-43</integer>
			<key>public.kern2.ARA_MEEM_I</key>
			<integer>-53</integer>
			<key>public.kern2.ARA_NOON</key>
			<integer>-49</integer>
			<key>public.kern2.ARA_NOON_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_QAF</key>
			<integer>-49</integer>
			<key>public.kern2.ARA_REH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_SAD</key>
			<integer>-49</integer>
			<key>public.kern2.ARA_SEEN</key>
			<integer>-40</integer>
			<key>public.kern2.ARA_TEH_I</key>
			<integer>35</integer>
			<key>public.kern2.ARA_WAW</key>
			<integer>-73</integer>
			<key>public.kern2.ARA_YEH</key>
			<integer>-52</integer>
			<key>public.kern2.ARA_YEHBARREE</key>
			<integer>-73</integer>
		</dict>
		<key>public.kern1.ARA_LAMALEF_F</key>
		<dict>
			<key>arTehYehBarree</key>
			<integer>35</integer>
			<key>arTehYehBarree.s</key>
			<integer>35</integer>
			<key>arTehYehBarreeHamza</key>
			<integer>35</integer>
			<key>arTehYehBarreeHamza.s</key>
			<integer>35</integer>
			<key>arThehYehBarree</key>
			<integer>35</integer>
			<key>arThehYehBarree.s</key>
			<integer>35</integer>
			<key>arThehYehBarreeHamza</key>
			<integer>35</integer>
			<key>arThehYehBarreeHamza.s</key>
			<integer>35</integer>
			<key>arTteh.i</key>
			<integer>26</integer>
			<key>arTtehYehBarree</key>
			<integer>26</integer>
			<key>arTtehYehBarree.s</key>
			<integer>26</integer>
			<key>arTtehYehBarreeHamza</key>
			<integer>26</integer>
			<key>arTtehYehBarreeHamza.s</key>
			<integer>26</integer>
			<key>public.kern2.ARA_AIN</key>
			<integer>-45</integer>
			<key>public.kern2.ARA_BEH</key>
			<integer>-27</integer>
			<key>public.kern2.ARA_BEH_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_HAH</key>
			<integer>-45</integer>
			<key>public.kern2.ARA_HAH_I</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_MEEM</key>
			<integer>-16</integer>
			<key>public.kern2.ARA_NOON_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_TEH_I</key>
			<integer>35</integer>
			<key>public.kern2.ARA_YEH</key>
			<integer>-52</integer>
		</dict>
		<key>public.kern1.ARA_REH</key>
		<dict>
			<key>public.kern2.ARA_AIN</key>
			<integer>82</integer>
			<key>public.kern2.ARA_AIN_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_ALEF</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_ALEFHAMZABELOW</key>
			<integer>93</integer>
			<key>public.kern2.ARA_ALEFHAMZAHIGH</key>
			<integer>-55</integer>
			<key>public.kern2.ARA_BEH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_BEHYEH_LIGS</key>
			<integer>178</integer>
			<key>public.kern2.ARA_BEH_I</key>
			<integer>73</integer>
			<key>public.kern2.ARA_DAL</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_FEH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_FEHYEH_LIGS</key>
			<integer>80</integer>
			<key>public.kern2.ARA_HAH</key>
			<integer>47</integer>
			<key>public.kern2.ARA_HAMZA</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_HEH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_HEHGOAL_I</key>
			<integer>33</integer>
			<key>public.kern2.ARA_HEH_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_KAF</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_KAFYEH_LIGS</key>
			<integer>44</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>-47</integer>
			<key>public.kern2.ARA_KAF_SWASH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>-40</integer>
			<key>public.kern2.ARA_LAM</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_LAMALEF</key>
			<integer>-27</integer>
			<key>public.kern2.ARA_LAMYEH_LIGS</key>
			<integer>47</integer>
			<key>public.kern2.ARA_MEEM</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_MEEM_I</key>
			<integer>-27</integer>
			<key>public.kern2.ARA_NOON_I</key>
			<integer>-14</integer>
			<key>public.kern2.ARA_REH</key>
			<integer>20</integer>
			<key>public.kern2.ARA_SAD</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_SEEN</key>
			<integer>-16</integer>
			<key>public.kern2.ARA_TEH_I</key>
			<integer>-14</integer>
			<key>public.kern2.ARA_WAW</key>
			<integer>33</integer>
			<key>public.kern2.ARA_YEHBARREE</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_YEHBARREE_S_LIGS</key>
			<integer>215</integer>
			<key>public.kern2.ARA_YEHHAMZAABOVE</key>
			<integer>-53</integer>
			<key>public.kern2.ARA_YEHYEH_LIGS</key>
			<integer>227</integer>
			<key>public.kern2.ARA_YEH_I</key>
			<integer>120</integer>
		</dict>
		<key>public.kern1.ARA_RREH</key>
		<dict>
			<key>public.kern2.ARA_AIN</key>
			<integer>82</integer>
			<key>public.kern2.ARA_AIN_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_ALEF</key>
			<integer>33</integer>
			<key>public.kern2.ARA_ALEFHAMZABELOW</key>
			<integer>93</integer>
			<key>public.kern2.ARA_ALEFHAMZAHIGH</key>
			<integer>71</integer>
			<key>public.kern2.ARA_BEH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_BEHYEH_LIGS</key>
			<integer>178</integer>
			<key>public.kern2.ARA_BEH_I</key>
			<integer>73</integer>
			<key>public.kern2.ARA_DAL</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_FEH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_FEHYEH_LIGS</key>
			<integer>80</integer>
			<key>public.kern2.ARA_HAH</key>
			<integer>47</integer>
			<key>public.kern2.ARA_HAMZA</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_HEH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_HEHGOAL_I</key>
			<integer>33</integer>
			<key>public.kern2.ARA_HEH_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_KAF</key>
			<integer>33</integer>
			<key>public.kern2.ARA_KAFYEH_LIGS</key>
			<integer>69</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>65</integer>
			<key>public.kern2.ARA_KAF_SWASH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>65</integer>
			<key>public.kern2.ARA_LAM</key>
			<integer>33</integer>
			<key>public.kern2.ARA_LAMALEF</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_LAMYEH_LIGS</key>
			<integer>47</integer>
			<key>public.kern2.ARA_MEEM</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_MEEM_I</key>
			<integer>-27</integer>
			<key>public.kern2.ARA_REH</key>
			<integer>20</integer>
			<key>public.kern2.ARA_SAD</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_SEEN</key>
			<integer>-16</integer>
			<key>public.kern2.ARA_TEH_I</key>
			<integer>47</integer>
			<key>public.kern2.ARA_WAW</key>
			<integer>33</integer>
			<key>public.kern2.ARA_YEH</key>
			<integer>4</integer>
			<key>public.kern2.ARA_YEHBARREE</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_YEHBARREE_S_LIGS</key>
			<integer>215</integer>
			<key>public.kern2.ARA_YEHHAMZAABOVE</key>
			<integer>33</integer>
			<key>public.kern2.ARA_YEHYEH_LIGS</key>
			<integer>227</integer>
			<key>public.kern2.ARA_YEH_I</key>
			<integer>120</integer>
		</dict>
		<key>public.kern1.ARA_WAW</key>
		<dict>
			<key>public.kern2.ARA_ALEFHAMZABELOW</key>
			<integer>20</integer>
			<key>public.kern2.ARA_ALEFHAMZAHIGH</key>
			<integer>-82</integer>
			<key>public.kern2.ARA_BEHYEH_LIGS</key>
			<integer>73</integer>
			<key>public.kern2.ARA_HAH</key>
			<integer>-40</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>-27</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>-34</integer>
			<key>public.kern2.ARA_MEEM</key>
			<integer>-27</integer>
			<key>public.kern2.ARA_MEEM_I</key>
			<integer>-4</integer>
			<key>public.kern2.ARA_QAF</key>
			<integer>20</integer>
			<key>public.kern2.ARA_YEH</key>
			<integer>-26</integer>
			<key>public.kern2.ARA_YEHBARREE</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_YEHBARREE_S_LIGS</key>
			<integer>75</integer>
			<key>public.kern2.ARA_YEHHAMZAABOVE</key>
			<integer>-100</integer>
			<key>public.kern2.ARA_YEHYEH_LIGS</key>
			<integer>95</integer>
		</dict>
		<key>public.kern1.ARA_YEHBARREE_LIGS</key>
		<dict>
			<key>arLam.i</key>
			<integer>-76</integer>
			<key>arMeem</key>
			<integer>-85</integer>
			<key>arMeem.i</key>
			<integer>-47</integer>
			<key>public.kern2.ARA_AIN_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_ALEF</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_BEH</key>
			<integer>-47</integer>
			<key>public.kern2.ARA_DAL</key>
			<integer>-44</integer>
			<key>public.kern2.ARA_FEH</key>
			<integer>-47</integer>
			<key>public.kern2.ARA_HAH_I</key>
			<integer>-107</integer>
			<key>public.kern2.ARA_HAMZA</key>
			<integer>-91</integer>
			<key>public.kern2.ARA_HEH_I</key>
			<integer>-47</integer>
			<key>public.kern2.ARA_KAF</key>
			<integer>-80</integer>
			<key>public.kern2.ARA_KAF_I</key>
			<integer>-107</integer>
			<key>public.kern2.ARA_KEHEH</key>
			<integer>-87</integer>
			<key>public.kern2.ARA_NOON_I</key>
			<integer>-47</integer>
			<key>public.kern2.ARA_REH</key>
			<integer>-42</integer>
			<key>public.kern2.ARA_SAD</key>
			<integer>-60</integer>
			<key>public.kern2.ARA_SEEN</key>
			<integer>-60</integer>
			<key>public.kern2.ARA_TEH_I</key>
			<integer>-47</integer>
			<key>public.kern2.ARA_YEHBARREE_S_LIGS</key>
			<integer>117</integer>
		</dict>
		<key>public.kern1.ARA_ZAIN</key>
		<dict>
			<key>public.kern2.ARA_AIN</key>
			<integer>82</integer>
			<key>public.kern2.ARA_AIN_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_ALEF</key>
			<integer>-14</integer>
			<key>public.kern2.ARA_ALEFHAMZABELOW</key>
			<integer>93</integer>
			<key>public.kern2.ARA_ALEFHAMZAHIGH</key>
			<integer>-2</integer>
			<key>public.kern2.ARA_BEH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_BEHYEH_LIGS</key>
			<integer>178</integer>
			<key>public.kern2.ARA_BEH_I</key>
			<integer>73</integer>
			<key>public.kern2.ARA_DAL</key>
			<integer>-26</integer>
			<key>public.kern2.ARA_FEH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_FEHYEH_LIGS</key>
			<integer>80</integer>
			<key>public.kern2.ARA_HAH</key>
			<integer>47</integer>
			<key>public.kern2.ARA_HAH_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_HAMZA</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_HEH</key>
			<integer>-40</integer>
			<key>public.kern2.ARA_HEHGOAL_I</key>
			<integer>33</integer>
			<key>public.kern2.ARA_HEH_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_KAF</key>
			<integer>-14</integer>
			<key>public.kern2.ARA_KAFYEH_LIGS</key>
			<integer>44</integer>
			<key>public.kern2.ARA_KAF_SWASH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_LAM</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_LAMALEF</key>
			<integer>-27</integer>
			<key>public.kern2.ARA_LAMYEH_LIGS</key>
			<integer>47</integer>
			<key>public.kern2.ARA_MEEM</key>
			<integer>-33</integer>
			<key>public.kern2.ARA_MEEM_I</key>
			<integer>-27</integer>
			<key>public.kern2.ARA_NOON_I</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_SAD</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_SEEN</key>
			<integer>-16</integer>
			<key>public.kern2.ARA_WAW</key>
			<integer>33</integer>
			<key>public.kern2.ARA_YEH</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_YEHBARREE</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_YEHBARREE_S_LIGS</key>
			<integer>215</integer>
			<key>public.kern2.ARA_YEHHAMZAABOVE</key>
			<integer>-20</integer>
			<key>public.kern2.ARA_YEHYEH_LIGS</key>
			<integer>227</integer>
			<key>public.kern2.ARA_YEH_I</key>
			<integer>120</integer>
		</dict>
	</dict>
</plist>
