<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>be</key>
		<string>be.glif</string>
		<key>be.alt</key>
		<string>be.alt.glif</string>
		<key>be.alt_be</key>
		<string>be.alt_be.glif</string>
		<key>be.alt_be.alt</key>
		<string>be.alt_be.alt.glif</string>
		<key>be.alt_ef</key>
		<string>be.alt_ef.glif</string>
		<key>be.alt_ef.alt</key>
		<string>be.alt_ef.alt.glif</string>
		<key>be_be</key>
		<string>be_be.glif</string>
		<key>be_be.alt</key>
		<string>be_be.alt.glif</string>
		<key>be_ef</key>
		<string>be_ef.glif</string>
		<key>be_ef.alt</key>
		<string>be_ef.alt.glif</string>
		<key>ef</key>
		<string>ef.glif</string>
		<key>ef.alt</key>
		<string>ef.alt.glif</string>
		<key>ef.alt_be</key>
		<string>ef.alt_be.glif</string>
		<key>ef.alt_be.alt</key>
		<string>ef.alt_be.alt.glif</string>
		<key>ef.alt_ef</key>
		<string>ef.alt_ef.glif</string>
		<key>ef.alt_ef.alt</key>
		<string>ef.alt_ef.alt.glif</string>
		<key>ef_be</key>
		<string>ef_be.glif</string>
		<key>ef_be.alt</key>
		<string>ef_be.alt.glif</string>
		<key>ef_ef</key>
		<string>ef_ef.glif</string>
		<key>ef_ef.alt</key>
		<string>ef_ef.alt.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f.alt</key>
		<string>f.alt.glif</string>
		<key>f.alt_f</key>
		<string>f.alt_f.glif</string>
		<key>f.alt_f.alt</key>
		<string>f.alt_f.alt.glif</string>
		<key>f_f</key>
		<string>f_f.glif</string>
		<key>f_f.alt</key>
		<string>f_f.alt.glif</string>
		<key>f_i</key>
		<string>f_i.glif</string>
		<key>f_l</key>
		<string>f_l.glif</string>
		<key>f_lcommaaccent.alt</key>
		<string>f_lcommaaccent.alt.glif</string>
		<key>f_ldot.alt</key>
		<string>f_ldot.alt.glif</string>
	</dict>
</plist>
