<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>F</key>
		<string>F_.glif</string>
		<key>arAe</key>
		<string>arA_e.glif</string>
		<key>arAlef</key>
		<string>arA_lef.glif</string>
		<key>arAlefMadda</key>
		<string>arA_lefM_adda.glif</string>
		<key>arBeh.i</key>
		<string>arB_eh.i.glif</string>
		<key>arColon</key>
		<string>arC_olon.glif</string>
		<key>arE.i</key>
		<string>arE_.i.glif</string>
		<key>arHeh</key>
		<string>arH_eh.glif</string>
		<key>arHehGoalHamza</key>
		<string>arH_ehG_oalH_amza.glif</string>
		<key>arHehYeh</key>
		<string>arH_ehY_eh.glif</string>
		<key>arJeh</key>
		<string>arJ_eh.glif</string>
		<key>arPeh.i</key>
		<string>arP_eh.i.glif</string>
		<key>arReh</key>
		<string>arR_eh.glif</string>
		<key>arRreh</key>
		<string>arR_reh.glif</string>
		<key>arTehMarbuta</key>
		<string>arT_ehM_arbuta.glif</string>
		<key>arYeh.i</key>
		<string>arY_eh.i.glif</string>
		<key>arYehBarree.f</key>
		<string>arY_ehB_arree.f.glif</string>
		<key>arYehBarree.fa</key>
		<string>arY_ehB_arree.fa.glif</string>
		<key>arYehBarreeHamza.f</key>
		<string>arY_ehB_arreeH_amza.f.glif</string>
		<key>arYehBarreeHamza.fa</key>
		<string>arY_ehB_arreeH_amza.fa.glif</string>
		<key>arZain</key>
		<string>arZ_ain.glif</string>
		<key>dotlessi</key>
		<string>dotlessi.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>iacute</key>
		<string>iacute.glif</string>
		<key>icircumflex</key>
		<string>icircumflex.glif</string>
		<key>idieresis</key>
		<string>idieresis.glif</string>
		<key>igrave</key>
		<string>igrave.glif</string>
		<key>imacron</key>
		<string>imacron.glif</string>
	</dict>
</plist>
