<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>@MMK_L_A</key>
		<array>
			<string>dvKha</string>
		</array>
		<key>@MMK_L_Ka</key>
		<array>
			<string>dvKa</string>
			<string>dvQa</string>
		</array>
		<key>@MMK_L_a_LC</key>
		<array>
			<string>a</string>
		</array>
		<key>@MMK_L_space</key>
		<array>
			<string>space</string>
		</array>
		<key>@MMK_R_Ka</key>
		<array>
			<string>dvKa</string>
			<string>dvQa</string>
		</array>
		<key>@MMK_R_Ra</key>
		<array>
			<string>dvKha</string>
		</array>
		<key>@MMK_R_a_LC</key>
		<array>
			<string>a</string>
		</array>
		<key>@MMK_R_space</key>
		<array>
			<string>space</string>
		</array>
		<key>COMBINING_MARKS</key>
		<array>
			<string>dvAnusvara</string>
			<string>dvCandrabindu</string>
			<string>dvNukta</string>
			<string>dvReph</string>
			<string>dvVirama</string>
			<string>acutecmb</string>
		</array>
		<key>public.kern1.A</key>
		<array>
			<string>dvKha</string>
		</array>
		<key>public.kern1.Ka</key>
		<array>
			<string>dvKa</string>
			<string>dvQa</string>
		</array>
		<key>public.kern1.a_LC</key>
		<array>
			<string>a</string>
		</array>
		<key>public.kern1.space</key>
		<array>
			<string>space</string>
		</array>
		<key>public.kern2.Ka</key>
		<array>
			<string>dvKa</string>
			<string>dvQa</string>
		</array>
		<key>public.kern2.Ra</key>
		<array>
			<string>dvKha</string>
		</array>
		<key>public.kern2.a_LC</key>
		<array>
			<string>a</string>
		</array>
		<key>public.kern2.space</key>
		<array>
			<string>space</string>
		</array>
	</dict>
</plist>
