<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.ALEF_1ST_ARA</key>
		<array>
			<string>arAlef</string>
			<string>arAlefMadda</string>
		</array>
		<key>public.kern1.F_UC_LEFT</key>
		<array>
			<string>F</string>
		</array>
		<key>public.kern1.HEH_1ST_ARA</key>
		<array>
			<string>arHeh</string>
			<string>arAe</string>
			<string>arTehMarbuta</string>
			<string>arHehYeh</string>
			<string>arHehGoalHamza</string>
		</array>
		<key>public.kern1.I_LC_LEFT</key>
		<array>
			<string>i</string>
			<string>dotlessi</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>igrave</string>
			<string>imacron</string>
		</array>
		<key>public.kern1.REH_1ST_ARA</key>
		<array>
			<string>arReh</string>
			<string>arZain</string>
			<string>arRreh</string>
			<string>arJeh</string>
		</array>
		<key>public.kern1.YEHBAREE_F_1ST_ARA</key>
		<array>
			<string>arYehBarree.f</string>
			<string>arYehBarreeHamza.f</string>
			<string>arYehBarree.fa</string>
			<string>arYehBarreeHamza.fa</string>
		</array>
		<key>public.kern2.ALEFMAKSURA_I_2ND_ARA</key>
		<array>
			<string>arYeh.i</string>
			<string>arE.i</string>
			<string>arBeh.i</string>
			<string>arPeh.i</string>
		</array>
		<key>public.kern2.ALEF_2ND_ARA</key>
		<array>
			<string>arAlef</string>
			<string>arAlefMadda</string>
		</array>
		<key>public.kern2.HEH_2ND_ARA</key>
		<array>
			<string>arHeh</string>
			<string>arAe</string>
			<string>arTehMarbuta</string>
			<string>arHehYeh</string>
			<string>arHehGoalHamza</string>
		</array>
		<key>public.kern2.IMNR_LC_RIGHT</key>
		<array>
			<string>i</string>
			<string>dotlessi</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>igrave</string>
			<string>imacron</string>
		</array>
		<key>public.kern2.REH_2ND_ARA</key>
		<array>
			<string>arReh</string>
			<string>arZain</string>
			<string>arRreh</string>
			<string>arJeh</string>
		</array>
		<key>public.kern2.STRAIGHT_UC_RIGHT</key>
		<array>
			<string>F</string>
		</array>
	</dict>
</plist>
