<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.illegal</key>
		<string>_illegal.glif</string>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>2cents</key>
		<string>2cents.glif</string>
		<key>666</key>
		<string>666.glif</string>
		<key>667</key>
		<string>667.glif</string>
		<key>668</key>
		<string>668.glif</string>
		<key>669</key>
		<string>669.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>A_B</key>
		<string>A__B_.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Z-glibber</key>
		<string>Z_-glibber.glif</string>
		<key>Zacute</key>
		<string>Z_acute.glif</string>
		<key>Zglibber</key>
		<string>Z_glibber.glif</string>
		<key>Zglibber.01</key>
		<string>Z_glibber.01.glif</string>
		<key>Zglibber.02</key>
		<string>Z_glibber.02.glif</string>
		<key>Zglibber.alt</key>
		<string>Z_glibber.alt.glif</string>
		<key>asd</key>
		<string>asd.glif</string>
		<key>asdasd</key>
		<string>asdasd.glif</string>
		<key>beyondFFFF</key>
		<string>beyondF_F_F_F_.glif</string>
		<key>eiurwoue</key>
		<string>eiurwoue.glif</string>
		<key>f_f_i</key>
		<string>f_f_i.glif</string>
		<key>f_f_idieresistonos</key>
		<string>f_f_idieresistonos.glif</string>
		<key>idieresistonos</key>
		<string>idieresistonos.glif</string>
		<key>idieresistonos.alt</key>
		<string>idieresistonos.alt.glif</string>
		<key>idieresistonos.alt_idieresistonos</key>
		<string>idieresistonos.alt_idieresistonos.glif</string>
		<key>multitude</key>
		<string>multitude.glif</string>
		<key>u10000</key>
		<string>u10000.glif</string>
		<key>uni6666</key>
		<string>uni6666.glif</string>
		<key>uni6667</key>
		<string>uni6667.glif</string>
		<key>uni6669</key>
		<string>uni6669.glif</string>
		<key>uniFFFF</key>
		<string>uniF_F_F_F_.glif</string>
		<key>wät</key>
		<string>wät.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zero.sups</key>
		<string>zero.sups.glif</string>
		<key>🥳</key>
		<string>🥳.glif</string>
	</dict>
</plist>
