<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>COMBINING_MARKS</key>
		<array>
			<string>acutecmb</string>
			<string>acutecmb.cap</string>
			<string>dotaccentcmb</string>
			<string>dotaccentcmb.cap</string>
			<string>dotbelowcmb</string>
		</array>
		<key>LATIN</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>dotlessi</string>
		</array>
		<key>lc</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>dotlessi</string>
		</array>
		<key>public.kern1.LAT_a</key>
		<array>
			<string>a</string>
		</array>
		<key>public.kern1.LAT_b</key>
		<array>
			<string>b</string>
			<string>o</string>
			<string>p</string>
		</array>
		<key>public.kern1.LAT_c</key>
		<array>
			<string>c</string>
		</array>
		<key>public.kern1.LAT_e</key>
		<array>
			<string>e</string>
		</array>
		<key>public.kern1.LAT_f</key>
		<array>
			<string>f</string>
		</array>
		<key>public.kern1.LAT_g</key>
		<array>
			<string>g</string>
		</array>
		<key>public.kern1.LAT_h</key>
		<array>
			<string>h</string>
			<string>m</string>
			<string>n</string>
		</array>
		<key>public.kern1.LAT_i</key>
		<array>
			<string>i</string>
			<string>dotlessi</string>
		</array>
		<key>public.kern1.LAT_j</key>
		<array>
			<string>j</string>
		</array>
		<key>public.kern1.LAT_k</key>
		<array>
			<string>k</string>
		</array>
		<key>public.kern1.LAT_l</key>
		<array>
			<string>d</string>
			<string>l</string>
		</array>
		<key>public.kern1.LAT_r</key>
		<array>
			<string>r</string>
		</array>
		<key>public.kern1.LAT_s</key>
		<array>
			<string>s</string>
		</array>
		<key>public.kern1.LAT_t</key>
		<array>
			<string>t</string>
		</array>
		<key>public.kern1.LAT_u</key>
		<array>
			<string>u</string>
		</array>
		<key>public.kern1.LAT_v</key>
		<array>
			<string>v</string>
			<string>w</string>
			<string>y</string>
		</array>
		<key>public.kern1.LAT_z</key>
		<array>
			<string>z</string>
		</array>
		<key>public.kern2.LAT_a</key>
		<array>
			<string>a</string>
		</array>
		<key>public.kern2.LAT_f</key>
		<array>
			<string>f</string>
		</array>
		<key>public.kern2.LAT_g</key>
		<array>
			<string>g</string>
		</array>
		<key>public.kern2.LAT_h</key>
		<array>
			<string>b</string>
			<string>h</string>
			<string>k</string>
			<string>l</string>
		</array>
		<key>public.kern2.LAT_i</key>
		<array>
			<string>i</string>
		</array>
		<key>public.kern2.LAT_j</key>
		<array>
			<string>j</string>
		</array>
		<key>public.kern2.LAT_m</key>
		<array>
			<string>m</string>
			<string>n</string>
			<string>r</string>
			<string>dotlessi</string>
		</array>
		<key>public.kern2.LAT_o</key>
		<array>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>o</string>
			<string>q</string>
		</array>
		<key>public.kern2.LAT_s</key>
		<array>
			<string>s</string>
		</array>
		<key>public.kern2.LAT_t</key>
		<array>
			<string>t</string>
		</array>
		<key>public.kern2.LAT_u</key>
		<array>
			<string>u</string>
		</array>
		<key>public.kern2.LAT_v</key>
		<array>
			<string>v</string>
			<string>w</string>
		</array>
		<key>public.kern2.LAT_y</key>
		<array>
			<string>y</string>
		</array>
		<key>public.kern2.LAT_z</key>
		<array>
			<string>z</string>
		</array>
	</dict>
</plist>
