<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>acutecmb</key>
		<string>acutecmb.glif</string>
		<key>cedillacmb</key>
		<string>cedillacmb.glif</string>
		<key>circumflexcmb</key>
		<string>circumflexcmb.glif</string>
		<key>commabelowcmb</key>
		<string>commabelowcmb.glif</string>
		<key>dotbelowcmb</key>
		<string>dotbelowcmb.glif</string>
		<key>gravecmb</key>
		<string>gravecmb.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>space</key>
		<string>space.glif</string>
	</dict>
</plist>
