<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>668</integer>
		<key>capHeight</key>
		<integer>464</integer>
		<key>copyright</key>
		<string></string>
		<key>descender</key>
		<integer>-332</integer>
		<key>familyName</key>
		<string>Liga RTL</string>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>openTypeGaspRangeRecords</key>
		<array>
		</array>
		<key>openTypeHeadCreated</key>
		<string>2006/07/19 23:22:00</string>
		<key>openTypeHeadFlags</key>
		<array>
		</array>
		<key>openTypeHeadLowestRecPPEM</key>
		<integer>9</integer>
		<key>openTypeHheaAscender</key>
		<integer>1530</integer>
		<key>openTypeHheaDescender</key>
		<integer>-700</integer>
		<key>openTypeHheaLineGap</key>
		<integer>0</integer>
		<key>openTypeNameDescription</key>
		<string></string>
		<key>openTypeNameDesigner</key>
		<string></string>
		<key>openTypeNameDesignerURL</key>
		<string></string>
		<key>openTypeNameLicense</key>
		<string></string>
		<key>openTypeNameLicenseURL</key>
		<string>http://www.adobe.com/type/legal.html</string>
		<key>openTypeNameManufacturer</key>
		<string></string>
		<key>openTypeNameManufacturerURL</key>
		<string></string>
		<key>openTypeNameRecords</key>
		<array>
		</array>
		<key>openTypeNameSampleText</key>
		<string></string>
		<key>openTypeNameUniqueID</key>
		<string></string>
		<key>openTypeNameVersion</key>
		<string></string>
		<key>openTypeOS2CodePageRanges</key>
		<array>
			<integer>0</integer>
			<integer>6</integer>
			<integer>29</integer>
		</array>
		<key>openTypeOS2FamilyClass</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>openTypeOS2Panose</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>openTypeOS2Selection</key>
		<array>
		</array>
		<key>openTypeOS2StrikeoutPosition</key>
		<integer>350</integer>
		<key>openTypeOS2StrikeoutSize</key>
		<integer>70</integer>
		<key>openTypeOS2SubscriptXOffset</key>
		<integer>0</integer>
		<key>openTypeOS2SubscriptXSize</key>
		<integer>444</integer>
		<key>openTypeOS2SubscriptYOffset</key>
		<integer>52</integer>
		<key>openTypeOS2SubscriptYSize</key>
		<integer>410</integer>
		<key>openTypeOS2SuperscriptXOffset</key>
		<integer>0</integer>
		<key>openTypeOS2SuperscriptXSize</key>
		<integer>444</integer>
		<key>openTypeOS2SuperscriptYOffset</key>
		<integer>239</integer>
		<key>openTypeOS2SuperscriptYSize</key>
		<integer>410</integer>
		<key>openTypeOS2Type</key>
		<array>
			<integer>3</integer>
		</array>
		<key>openTypeOS2TypoAscender</key>
		<integer>935</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-465</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>500</integer>
		<key>openTypeOS2UnicodeRanges</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>13</integer>
			<integer>31</integer>
			<integer>33</integer>
			<integer>35</integer>
			<integer>38</integer>
			<integer>45</integer>
			<integer>47</integer>
			<integer>63</integer>
			<integer>67</integer>
		</array>
		<key>openTypeOS2VendorID</key>
		<string>ADBE</string>
		<key>openTypeOS2WeightClass</key>
		<integer>250</integer>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>1046</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>479</integer>
		<key>postscriptBlueFuzz</key>
		<integer>0</integer>
		<key>postscriptBlueScale</key>
		<real>0.0625</real>
		<key>postscriptBlueShift</key>
		<integer>10</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-12</integer>
			<integer>0</integer>
			<integer>480</integer>
			<integer>492</integer>
			<integer>650</integer>
			<integer>662</integer>
			<integer>674</integer>
			<integer>686</integer>
			<integer>710</integer>
			<integer>722</integer>
		</array>
		<key>postscriptDefaultCharacter</key>
		<string>.notdef</string>
		<key>postscriptFamilyBlues</key>
		<array>
			<integer>-12</integer>
			<integer>0</integer>
			<integer>483</integer>
			<integer>495</integer>
			<integer>650</integer>
			<integer>662</integer>
			<integer>674</integer>
			<integer>686</integer>
			<integer>720</integer>
			<integer>732</integer>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
			<integer>-210</integer>
			<integer>-198</integer>
		</array>
		<key>postscriptFontName</key>
		<string>LigaRTL-Light</string>
		<key>postscriptForceBold</key>
		<false/>
		<key>postscriptIsFixedPitch</key>
		<false/>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-210</integer>
			<integer>-198</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>62</integer>
			<integer>23</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>45</integer>
			<integer>42</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-37</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>24</integer>
		<key>postscriptWeightName</key>
		<string>Light</string>
		<key>styleName</key>
		<string>Light</string>
		<key>trademark</key>
		<string></string>
		<key>unitsPerEm</key>
		<integer>1400</integer>
		<key>versionMajor</key>
		<integer>1</integer>
		<key>versionMinor</key>
		<integer>0</integer>
		<key>xHeight</key>
		<integer>312</integer>
	</dict>
</plist>
