<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Lcaron</key>
		<dict>
			<key>V</key>
			<integer>-57</integer>
		</dict>
		<key>V</key>
		<dict>
			<key>adieresis</key>
			<integer>-60</integer>
			<key>atilde</key>
			<integer>-50</integer>
			<key>backslash</key>
			<integer>10</integer>
			<key>idieresis</key>
			<integer>30</integer>
			<key>public.kern2.LAT_a</key>
			<integer>-80</integer>
			<key>public.kern2.LAT_i</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_icircumflex</key>
			<integer>10</integer>
			<key>public.kern2.LAT_m</key>
			<integer>-60</integer>
			<key>public.kern2.LAT_t</key>
			<integer>-31</integer>
		</dict>
		<key>backslash</key>
		<dict>
			<key>V</key>
			<integer>-100</integer>
			<key>backslash</key>
			<integer>-82</integer>
			<key>public.kern2.LAT_t</key>
			<integer>-11</integer>
		</dict>
		<key>iotadieresistonos</key>
		<dict>
			<key>lambda</key>
			<integer>60</integer>
		</dict>
		<key>lambda</key>
		<dict>
			<key>lambda</key>
			<integer>5</integer>
			<key>public.kern2.GRK_iota</key>
			<integer>-10</integer>
			<key>public.kern2.GRK_iotadieresis</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.GRK_alpha</key>
		<dict>
			<key>backslash</key>
			<integer>21</integer>
		</dict>
		<key>public.kern1.LAT_L</key>
		<dict>
			<key>V</key>
			<integer>-119</integer>
			<key>backslash</key>
			<integer>-59</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-19</integer>
			<key>public.kern2.LAT_t</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.LAT_a</key>
		<dict>
			<key>V</key>
			<integer>-99</integer>
			<key>backslash</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_m</key>
			<integer>-5</integer>
		</dict>
		<key>public.kern1.LAT_i</key>
		<dict>
			<key>V</key>
			<integer>-21</integer>
		</dict>
		<key>public.kern1.LAT_icircumflex</key>
		<dict>
			<key>backslash</key>
			<integer>21</integer>
			<key>public.kern2.LAT_icircumflex</key>
			<integer>40</integer>
		</dict>
		<key>public.kern1.LAT_t</key>
		<dict>
			<key>V</key>
			<integer>-40</integer>
			<key>backslash</key>
			<integer>-1</integer>
			<key>public.kern2.LAT_t</key>
			<integer>9</integer>
		</dict>
		<key>tcaron</key>
		<dict>
			<key>backslash</key>
			<integer>40</integer>
		</dict>
	</dict>
</plist>
