<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.glyphOrder</key>
		<array>
			<string>L</string>
			<string>V</string>
			<string>a</string>
			<string>i</string>
			<string>t</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Ldot</string>
			<string>Ldotbelow</string>
			<string>Ldotbelowmacron</string>
			<string>Llinebelow</string>
			<string>Lslash</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>amacron</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>dotlessi</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
			<string>backslash</string>
			<string>iota</string>
			<string>lambda</string>
			<string>iotadieresistonos</string>
		</array>
		<key>public.postscriptNames</key>
		<dict>
			<key>Lcommaaccent</key>
			<string>uni013B</string>
			<key>Ldotbelow</key>
			<string>uni1E36</string>
			<key>Ldotbelowmacron</key>
			<string>uni1E38</string>
			<key>Llinebelow</key>
			<string>uni1E3A</string>
			<key>tcedilla</key>
			<string>uni0163</string>
			<key>tcommaaccent</key>
			<string>uni021B</string>
		</dict>
	</dict>
</plist>
