<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>space</string>
			<string>O</string>
			<string>o</string>
			<string>gravecmb</string>
			<string>gravecmb.cap</string>
			<string>acutecmb</string>
			<string>acutecmb.cap</string>
			<string>circumflexcmb</string>
			<string>circumflexcmb.cap</string>
			<string>tildecmb</string>
			<string>tildecmb.cap</string>
			<string>macroncmb</string>
			<string>macroncmb.cap</string>
			<string>brevecmb</string>
			<string>brevecmb.cap</string>
			<string>dotaccentcmb</string>
			<string>dotaccentcmb.cap</string>
			<string>dieresiscmb</string>
			<string>dieresiscmb.cap</string>
			<string>ringcmb</string>
			<string>ringcmb.cap</string>
			<string>hungarumlautcmb</string>
			<string>hungarumlautcmb.cap</string>
			<string>caroncmb</string>
			<string>caroncmb.cap</string>
			<string>commabelowcmb</string>
			<string>cedillacmb</string>
		</array>
	</dict>
</plist>
