<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>A</key>
		<dict>
			<key>public.kern2.invalid</key>
			<integer>100</integer>
		</dict>
		<key>B</key>
		<dict>
			<key>V</key>
			<integer>-50</integer>
			<key>X</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_A</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-24</integer>
			<key>public.kern2.LAT_J</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_M</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_T</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-50</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>-10</integer>
		</dict>
		<key>F</key>
		<dict>
			<key>public.kern2.LAT_A</key>
			<integer>-72</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_T</key>
			<integer>10</integer>
		</dict>
		<key>P</key>
		<dict>
			<key>V</key>
			<integer>-10</integer>
			<key>X</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_A</key>
			<integer>-62</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_J</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_S</key>
			<integer>10</integer>
			<key>public.kern2.LAT_T</key>
			<integer>10</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>9</integer>
		</dict>
		<key>V</key>
		<dict>
			<key>public.kern2.LAT_A</key>
			<integer>-120</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-50</integer>
			<key>public.kern2.LAT_S</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>-10</integer>
		</dict>
		<key>X</key>
		<dict>
			<key>public.kern2.LAT_O</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_T</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.LAT_A</key>
		<dict>
			<key>V</key>
			<integer>-119</integer>
			<key>a</key>
			<integer>100</integer>
			<key>public.kern2.LAT_A</key>
			<integer>10</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_J</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_M</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-39</integer>
			<key>public.kern2.LAT_T</key>
			<integer>-61</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-69</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-99</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-90</integer>
		</dict>
		<key>public.kern1.LAT_C</key>
		<dict>
			<key>V</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-19</integer>
		</dict>
		<key>public.kern1.LAT_D</key>
		<dict>
			<key>V</key>
			<integer>-49</integer>
			<key>X</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_A</key>
			<integer>-60</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_J</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_M</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_O</key>
			<integer>10</integer>
			<key>public.kern2.LAT_T</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-49</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-59</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.LAT_E</key>
		<dict>
			<key>V</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-15</integer>
		</dict>
		<key>public.kern1.LAT_G</key>
		<dict>
			<key>V</key>
			<integer>-40</integer>
			<key>X</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_A</key>
			<integer>-11</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O</key>
			<integer>10</integer>
			<key>public.kern2.LAT_T</key>
			<integer>-11</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-16</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-49</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>-11</integer>
		</dict>
		<key>public.kern1.LAT_H</key>
		<dict>
			<key>public.kern2.LAT_O</key>
			<integer>-24</integer>
		</dict>
		<key>public.kern1.LAT_J</key>
		<dict>
			<key>public.kern2.LAT_A</key>
			<integer>-41</integer>
			<key>public.kern2.LAT_J</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_S</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.LAT_K</key>
		<dict>
			<key>V</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_A</key>
			<integer>10</integer>
			<key>public.kern2.LAT_J</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-11</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.LAT_L</key>
		<dict>
			<key>V</key>
			<integer>-119</integer>
			<key>X</key>
			<integer>-19</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-19</integer>
			<key>public.kern2.LAT_J</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_M</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_S</key>
			<integer>-19</integer>
			<key>public.kern2.LAT_T</key>
			<integer>-80</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-50</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-100</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-108</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>-19</integer>
		</dict>
		<key>public.kern1.LAT_N</key>
		<dict>
			<key>X</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_A</key>
			<integer>-41</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_S</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.LAT_O</key>
		<dict>
			<key>V</key>
			<integer>-40</integer>
			<key>X</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_A</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-24</integer>
			<key>public.kern2.LAT_J</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_M</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_O</key>
			<integer>10</integer>
			<key>public.kern2.LAT_T</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-39</integer>
		</dict>
		<key>public.kern1.LAT_R</key>
		<dict>
			<key>V</key>
			<integer>-60</integer>
			<key>X</key>
			<integer>10</integer>
			<key>public.kern2.LAT_A</key>
			<integer>10</integer>
			<key>public.kern2.LAT_J</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_T</key>
			<integer>-31</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-31</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-50</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-50</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.LAT_S</key>
		<dict>
			<key>V</key>
			<integer>-30</integer>
			<key>X</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_A</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_J</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_M</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_S</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_T</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-30</integer>
		</dict>
		<key>public.kern1.LAT_T</key>
		<dict>
			<key>public.kern2.LAT_A</key>
			<integer>-70</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_T</key>
			<integer>10</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>9</integer>
		</dict>
		<key>public.kern1.LAT_U</key>
		<dict>
			<key>V</key>
			<integer>-20</integer>
			<key>X</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_A</key>
			<integer>-80</integer>
			<key>public.kern2.LAT_E</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_J</key>
			<integer>-15</integer>
			<key>public.kern2.LAT_M</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-30</integer>
			<key>public.kern2.LAT_S</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_T</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.LAT_W</key>
		<dict>
			<key>public.kern2.LAT_A</key>
			<integer>-110</integer>
			<key>public.kern2.LAT_M</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-40</integer>
			<key>public.kern2.LAT_S</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Z</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.LAT_Y</key>
		<dict>
			<key>public.kern2.LAT_A</key>
			<integer>-90</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-50</integer>
			<key>public.kern2.LAT_S</key>
			<integer>-39</integer>
		</dict>
		<key>public.kern1.LAT_Z</key>
		<dict>
			<key>V</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_O</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_T</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_U</key>
			<integer>-20</integer>
			<key>public.kern2.LAT_W</key>
			<integer>-10</integer>
			<key>public.kern2.LAT_Y</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.empty</key>
		<dict>
			<key>a</key>
			<integer>100</integer>
		</dict>
	</dict>
</plist>
