<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>RTL_KERNING</key>
    <array>
      <string>L</string>
      <string>V</string>
      <string>a</string>
      <string>i</string>
      <string>t</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Ldotbelow</string>
      <string>Ldotbelowmacron</string>
      <string>Llinebelow</string>
      <string>Lslash</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>amacron</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>dotlessi</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>backslash</string>
      <string>iota</string>
      <string>lambda</string>
      <string>iotadieresistonos</string>
    </array>
    <key>public.kern1.GRK_alpha_RTL</key>
    <array>
      <string>iota</string>
      <string>iotadieresistonos</string>
    </array>
    <key>public.kern1.LAT_L_RTL</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldotbelow</string>
      <string>Ldotbelowmacron</string>
      <string>Llinebelow</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.LAT_a_RTL</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>amacron</string>
    </array>
    <key>public.kern1.LAT_i_RTL</key>
    <array>
      <string>i</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>dotlessi</string>
    </array>
    <key>public.kern1.LAT_icircumflex_RTL</key>
    <array>
      <string>icircumflex</string>
      <string>idieresis</string>
    </array>
    <key>public.kern1.LAT_t_RTL</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern2.GRK_iota_RTL</key>
    <array>
      <string>iota</string>
    </array>
    <key>public.kern2.GRK_iotadieresis_RTL</key>
    <array>
      <string>iotadieresistonos</string>
    </array>
    <key>public.kern2.LAT_E_RTL</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Ldotbelow</string>
      <string>Ldotbelowmacron</string>
      <string>Llinebelow</string>
      <string>Lslash</string>
    </array>
    <key>public.kern2.LAT_a_RTL</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>amacron</string>
    </array>
    <key>public.kern2.LAT_i_RTL</key>
    <array>
      <string>i</string>
      <string>igrave</string>
      <string>iacute</string>
    </array>
    <key>public.kern2.LAT_icircumflex_RTL</key>
    <array>
      <string>icircumflex</string>
      <string>idieresis</string>
    </array>
    <key>public.kern2.LAT_m_RTL</key>
    <array>
      <string>dotlessi</string>
    </array>
    <key>public.kern2.LAT_t_RTL</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
  </dict>
</plist>
