<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>Aacute</key>
		<string>A_acute.glif</string>
		<key>Abreve</key>
		<string>A_breve.glif</string>
		<key>Acircumflex</key>
		<string>A_circumflex.glif</string>
		<key>Adieresis</key>
		<string>A_dieresis.glif</string>
		<key>Agrave</key>
		<string>A_grave.glif</string>
		<key>Amacron</key>
		<string>A_macron.glif</string>
		<key>Aogonek</key>
		<string>A_ogonek.glif</string>
		<key>Aring</key>
		<string>A_ring.glif</string>
		<key>Atilde</key>
		<string>A_tilde.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>Oacute</key>
		<string>O_acute.glif</string>
		<key>Ocircumflex</key>
		<string>O_circumflex.glif</string>
		<key>Odieresis</key>
		<string>O_dieresis.glif</string>
		<key>Ograve</key>
		<string>O_grave.glif</string>
		<key>Ohungarumlaut</key>
		<string>O_hungarumlaut.glif</string>
		<key>Omacron</key>
		<string>O_macron.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Otilde</key>
		<string>O_tilde.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>space</key>
		<string>space.glif</string>
	</dict>
</plist>
