<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>A</key>
		<string>A_.glif</string>
		<key>A.cyr</key>
		<string>A_.cyr.glif</string>
		<key>Delta</key>
		<string>D_elta.glif</string>
		<key>Delta.math</key>
		<string>D_elta.math.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>E.cyr</key>
		<string>E_.cyr.glif</string>
		<key>Ghe</key>
		<string>G_he.glif</string>
		<key>Ghe.up</key>
		<string>G_he.up.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>I.cyr</key>
		<string>I_.cyr.glif</string>
		<key>I.short</key>
		<string>I_.short.glif</string>
		<key>I.ukran</key>
		<string>I_.ukran.glif</string>
		<key>Ie</key>
		<string>I_e.glif</string>
		<key>Ie.ukran</key>
		<string>I_e.ukran.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>O.cyr</key>
		<string>O_.cyr.glif</string>
		<key>Omega</key>
		<string>O_mega.glif</string>
		<key>Omega.greek</key>
		<string>O_mega.greek.glif</string>
		<key>Schwa.latin</key>
		<string>S_chwa.latin.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>U.cyr</key>
		<string>U_.cyr.glif</string>
		<key>U.short</key>
		<string>U_.short.glif</string>
		<key>Ucyr.straight</key>
		<string>U_cyr.straight.glif</string>
		<key>Ucyr.straightstroke</key>
		<string>U_cyr.straightstroke.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.cyr</key>
		<string>a.cyr.glif</string>
		<key>checkbox</key>
		<string>checkbox.glif</string>
		<key>checkbox.checked</key>
		<string>checkbox.checked.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.cyr</key>
		<string>e.cyr.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>eight.inferior</key>
		<string>eight.inferior.glif</string>
		<key>eight.superior</key>
		<string>eight.superior.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>five.inferior</key>
		<string>five.inferior.glif</string>
		<key>five.superior</key>
		<string>five.superior.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>four.inferior</key>
		<string>four.inferior.glif</string>
		<key>four.superior</key>
		<string>four.superior.glif</string>
		<key>ghe</key>
		<string>ghe.glif</string>
		<key>ghe.up</key>
		<string>ghe.up.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>i.cyr</key>
		<string>i.cyr.glif</string>
		<key>i.short</key>
		<string>i.short.glif</string>
		<key>i.ukran</key>
		<string>i.ukran.glif</string>
		<key>ie</key>
		<string>ie.glif</string>
		<key>ie.ukran</key>
		<string>ie.ukran.glif</string>
		<key>mu</key>
		<string>mu.glif</string>
		<key>mu.greek</key>
		<string>mu.greek.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>n.superior</key>
		<string>n.superior.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>nine.inferior</key>
		<string>nine.inferior.glif</string>
		<key>nine.superior</key>
		<string>nine.superior.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>o.cyr</key>
		<string>o.cyr.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.inferior</key>
		<string>one.inferior.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenleft.inferior</key>
		<string>parenleft.inferior.glif</string>
		<key>parenleft.superior</key>
		<string>parenleft.superior.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>parenright.inferior</key>
		<string>parenright.inferior.glif</string>
		<key>parenright.superior</key>
		<string>parenright.superior.glif</string>
		<key>schwa.latin</key>
		<string>schwa.latin.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>seven.inferior</key>
		<string>seven.inferior.glif</string>
		<key>seven.superior</key>
		<string>seven.superior.glif</string>
		<key>sigma</key>
		<string>sigma.glif</string>
		<key>sigma.end</key>
		<string>sigma.end.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>six.inferior</key>
		<string>six.inferior.glif</string>
		<key>six.superior</key>
		<string>six.superior.glif</string>
		<key>theta</key>
		<string>theta.glif</string>
		<key>theta.math</key>
		<string>theta.math.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>three.inferior</key>
		<string>three.inferior.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.inferior</key>
		<string>two.inferior.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>u.cyr</key>
		<string>u.cyr.glif</string>
		<key>u.short</key>
		<string>u.short.glif</string>
		<key>ucyr.straight</key>
		<string>ucyr.straight.glif</string>
		<key>ucyr.straightstroke</key>
		<string>ucyr.straightstroke.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zero.inferior</key>
		<string>zero.inferior.glif</string>
		<key>zero.superior</key>
		<string>zero.superior.glif</string>
	</dict>
</plist>
