<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>space</string>
			<string>a</string>
			<string>o</string>
			<string>oslash</string>
			<string>gravecmb</string>
			<string>acutecmb</string>
			<string>circumflexcmb</string>
			<string>commabelowcmb</string>
			<string>cedillacmb</string>
			<string>dotbelowcmb</string>
		</array>
	</dict>
</plist>
