<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>A</key>
		<string>A_.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>H.alt</key>
		<string>H_.alt.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>I.alt</key>
		<string>I_.alt.glif</string>
		<key>I.alt1</key>
		<string>I_.alt1.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>K.alt</key>
		<string>K_.alt.glif</string>
		<key>K.alt1</key>
		<string>K_.alt1.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>P.alt</key>
		<string>P_.alt.glif</string>
		<key>P.alt1</key>
		<string>P_.alt1.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>Q.alt</key>
		<string>Q_.alt.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Y.alt</key>
		<string>Y_.alt.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>any</key>
		<string>any.glif</string>
		<key>asciicircum</key>
		<string>asciicircum.glif</string>
		<key>asciicircum.alt</key>
		<string>asciicircum.alt.glif</string>
		<key>asciitilde</key>
		<string>asciitilde.glif</string>
		<key>asciitilde.alt</key>
		<string>asciitilde.alt.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>asterisk.alt</key>
		<string>asterisk.alt.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>backslash</key>
		<string>backslash.glif</string>
		<key>bar</key>
		<string>bar.glif</string>
		<key>bold</key>
		<string>bold.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>bracketleft</key>
		<string>bracketleft.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>clever</key>
		<string>clever.glif</string>
		<key>colon</key>
		<string>colon.glif</string>
		<key>colon.alt</key>
		<string>colon.alt.glif</string>
		<key>colon.alt1</key>
		<string>colon.alt1.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>comma.alt</key>
		<string>comma.alt.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>daring</key>
		<string>daring.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>dollar.alt</key>
		<string>dollar.alt.glif</string>
		<key>dollar.alt1</key>
		<string>dollar.alt1.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>eight.alt</key>
		<string>eight.alt.glif</string>
		<key>equal</key>
		<string>equal.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>explorer</key>
		<string>explorer.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>faces</key>
		<string>faces.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>five.alt</key>
		<string>five.alt.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>grave.alt</key>
		<string>grave.alt.glif</string>
		<key>great</key>
		<string>great.glif</string>
		<key>greater</key>
		<string>greater.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>hurdles</key>
		<string>hurdles.glif</string>
		<key>hyphen</key>
		<string>hyphen.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>i.alt</key>
		<string>i.alt.glif</string>
		<key>i.alt1</key>
		<string>i.alt1.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>j.alt</key>
		<string>j.alt.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>o.alt</key>
		<string>o.alt.glif</string>
		<key>o.alt1</key>
		<string>o.alt1.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.alt</key>
		<string>one.alt.glif</string>
		<key>one.alt1</key>
		<string>one.alt1.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>period</key>
		<string>period.glif</string>
		<key>period.alt</key>
		<string>period.alt.glif</string>
		<key>period.alt1</key>
		<string>period.alt1.glif</string>
		<key>plus</key>
		<string>plus.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>question.alt</key>
		<string>question.alt.glif</string>
		<key>question.alt1</key>
		<string>question.alt1.glif</string>
		<key>quotedbl</key>
		<string>quotedbl.glif</string>
		<key>quotesingle</key>
		<string>quotesingle.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>r.alt</key>
		<string>r.alt.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>s.alt</key>
		<string>s.alt.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>semicolon.alt</key>
		<string>semicolon.alt.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>six.alt</key>
		<string>six.alt.glif</string>
		<key>six.alt1</key>
		<string>six.alt1.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>three.alt</key>
		<string>three.alt.glif</string>
		<key>three.alt1</key>
		<string>three.alt1.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.alt</key>
		<string>two.alt.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>u.alt</key>
		<string>u.alt.glif</string>
		<key>underscore</key>
		<string>underscore.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>w.alt</key>
		<string>w.alt.glif</string>
		<key>w.alt1</key>
		<string>w.alt1.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>x.alt</key>
		<string>x.alt.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
	</dict>
</plist>
