<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.glyphOrder</key>
		<array>
			<string>parenleft</string>
			<string>parenright</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>A</string>
			<string>E</string>
			<string>I</string>
			<string>O</string>
			<string>U</string>
			<string>a</string>
			<string>e</string>
			<string>i</string>
			<string>n</string>
			<string>o</string>
			<string>u</string>
			<string>mu</string>
			<string>Schwa.latin</string>
			<string>schwa.latin</string>
			<string>n.superior</string>
			<string>zero.superior</string>
			<string>four.superior</string>
			<string>five.superior</string>
			<string>six.superior</string>
			<string>seven.superior</string>
			<string>eight.superior</string>
			<string>nine.superior</string>
			<string>parenleft.superior</string>
			<string>parenright.superior</string>
			<string>zero.inferior</string>
			<string>one.inferior</string>
			<string>two.inferior</string>
			<string>three.inferior</string>
			<string>four.inferior</string>
			<string>five.inferior</string>
			<string>six.inferior</string>
			<string>seven.inferior</string>
			<string>eight.inferior</string>
			<string>nine.inferior</string>
			<string>parenleft.inferior</string>
			<string>parenright.inferior</string>
			<string>checkbox</string>
			<string>checkbox.checked</string>
			<string>Delta.math</string>
			<string>Omega</string>
			<string>Delta</string>
			<string>Omega.greek</string>
			<string>theta</string>
			<string>mu.greek</string>
			<string>sigma</string>
			<string>sigma.end</string>
			<string>Ie.ukran</string>
			<string>I.ukran</string>
			<string>U.short</string>
			<string>A.cyr</string>
			<string>Ghe</string>
			<string>Ie</string>
			<string>I.cyr</string>
			<string>I.short</string>
			<string>O.cyr</string>
			<string>U.cyr</string>
			<string>E.cyr</string>
			<string>Ghe.up</string>
			<string>Ucyr.straight</string>
			<string>Ucyr.straightstroke</string>
			<string>a.cyr</string>
			<string>ghe</string>
			<string>ie</string>
			<string>i.cyr</string>
			<string>i.short</string>
			<string>o.cyr</string>
			<string>u.cyr</string>
			<string>e.cyr</string>
			<string>ie.ukran</string>
			<string>i.ukran</string>
			<string>u.short</string>
			<string>ghe.up</string>
			<string>ucyr.straight</string>
			<string>ucyr.straightstroke</string>
			<string>theta.math</string>
		</array>
	</dict>
</plist>
